@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Barriecito", cursive;
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  zoom: 90%;
}

div.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

div.title {
  display: block;
  margin-top: 20px;
  min-width: 50%;
  padding: 15px;
  border: 5px solid black;
  border-radius: 15px;
}

div.description {
  text-align: center;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.description p {
  text-align: justify;
}

div.battle-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-section .rules {
  text-align: center;
}

.battle-section .battle-title {
  margin-top: 20px;
  border: 5px solid black;
  border-radius: 15px;
  padding: 10px;
}

.battle-section .button-container {
  margin-top: 20px;
  min-width: 50%;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result div {
  min-width: 50%;
  margin: 35px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result div img {
  width: 150px;
}

.start,
.menu,
.restart {
  margin: 20px;
  padding: 10px 20px;
  font-size: 30px;
  width: 300px;
}

button {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 5px solid black;
  width: 200px;
  padding: 20px 10px;
}

button:hover {
  background-color: gray;
  cursor: pointer;
}

button.menu {
  display: none;
  margin: 55px auto;
}

button img {
  width: 120px;
  padding: 15px auto;
}

img {
  display: block;
  width: 250px;
  margin: 0px auto;
}

h1,
h2 {
  text-align: center;
  color: black;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  margin: 10px auto;
}
